<link rel="stylesheet" href="conducteur.component.css">
<div class="container">
    <table>
        <thead>
            <th>id_conducteur</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Modifier</th>
            <th>supprimer</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <form action="">
        <label for="nom">Nom</label>
        <input type="nom" placeholder="Entrer le nom">
        <label for="prenom">Prenom</label>
        <input type="text" placeholder="Entrer le prenom">
        <button type="submit" class="btnAjoutConducteur">Ajouter</button>
    </form>
</div>


