.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 8vh;
    background-color: blanchedalmond;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.nav-links{
    flex: 1;
    display: flex;
    justify-content: space-around;
    list-style: none;
    cursor: pointer;
    
    
}
.accueil, a{
    flex: 2;
    margin-left: 50px;
    text-decoration: none;
    color: black;
}